.first_block,.second_block,.third_block,.fourth_block{
  display: grid;
  grid-template-columns: 100px auto auto 100px;
  position: relative;
  width: 100vw;
  height: 450px;
  column-gap: 50px;
}
.first_block{
  background-color: black; 
  color: white;
  margin-top: 60px;

}
.text_block {
  font-size: 2rem;
  grid-column: 2;
  text-align: center;
  margin: auto 0;
    
}
#iconic{
  color: black;
  background-color: #FF9000;
  border-radius: 10px;
  padding: 0 3px;
  margin-left: 3px;
}
.img_container{
  display: flex;
  justify-content: center;
  margin: auto 0;
  grid-column: 3;
}
/* END FIRST BLOCK */

.second_block{
  background-color: white;
}
.img_container2{
  display: flex;
  grid-column: 2;
  justify-content: center;
  margin: auto 0;   
}
.text_block2{
  margin: auto 0; 
  text-align: center;
  font-size: 2rem;
  grid-column: 3;
}
#what_tag{
  color: #FF9000;
}

/* End Second Block */

.third_block{
  grid-template-columns: 150px auto auto auto 150px;
  grid-template-rows: 50px auto;
  background-color: black;
  color: white;
  font-size: 2rem;
  text-align: center;
  height: 520px;
}
#header_thirdblock{
  grid-row: 1;
  grid-column: 2 / span 3;
  margin-top: 20px;
}

.item_container1,.item_container2,.item_container3{
  display: flex;
  margin: 80px auto auto auto;
  justify-content: center;
  flex-direction: column; 
}
:is(.item_container1,.item_container2,.item_container3) img{
  width: 185px;
  height: 185px;
}
:is(.item_container1,.item_container2,.item_container3) h4{
  margin-top: 20px;
 color: #FF9000;
}
.item_container1{
  grid-column: 2;

}
.item_container2{
  grid-column: 3;
}
.item_container3{
  grid-column: 4;
}
/* End third Block */

.course_button{
  background-color: #FF9000;
  margin-top: 20px;
  font-weight: bolder;
  padding: 20px 40px;
  border-radius: 30px;
  border: none;
  font-size: 30px;
  transition: 0.1s ease;
    &:hover{
      background-color:#fdb556;
      cursor: pointer;
    }
}

.contact_logo {
  margin: 30px 0px 30px 0px;
}

.contact_logo > a {
  margin: 0px 30px 0px 30px;
}

#watermark {
  font-size: 20px;
}

.third_block p {
  font-size: 20px;
}