.first_block{
  display: grid;
  grid-template-columns: 100px auto auto 100px;
  background-color: black;
  margin-top: 60px;
  position: fixed;
  width: 100vw;
  color: white;
  height: 250px;
  column-gap: 50px;
  align-items: start;
  z-index: -1 ;
  
}
.text_block {
  grid-column: 2;
  text-align: center;
  margin-top: 70px;
    
}
.img_container{
  display: flex;
  justify-content: center;
  grid-column: 3;
}
/* END FIRST BLOCK */

