.header_container {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: white;
  box-shadow: 0 0 2px gray;
  z-index: 1;

  & :visited {
    color: black;
  }
}

#logo_box {
  display: flex;
  padding-left: 2rem;
}

.nav_box {
  display: flex;
  justify-content: space-between;
  list-style: none;

  & a {
    padding: 3rem;
  }

  & a:hover {
    text-decoration: underline;
  }

  & a:visited {
    color: inherit;
  }
}

.register_login_container {
  display: flex;
  margin-top: 3px;
  justify-content: space-between;
  align-items: center;

  & a {
    text-decoration: none;
  }

  & a:visited {
    color: inherit;
  }
}

#register_button {
  background-color: black;
  color: white;
  border-radius: 5rem;
  padding: 5px 15px;
  margin-left: 1rem;
  margin-right: 2rem;
  overflow-x: hidden ;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 980px) {

  .nav_box,
  .register_login_container {
    display: none;
  }

  .hamburger {
    display: block;

    margin-right: 2rem;


    & :hover {
      background-color: rgb(220, 217, 217);
      border-radius: 20px;
      margin-right: -0.1rem;
    }
  }
}